@include mediaSm {
  .projects {
    display: block;
  }
}
@include mediaMd {
  #home {
    text-align: center;
    .lg-heading {
      margin: 23vh 0 0;
      font-size: 3rem;
      transition: 0.5s ease-in-out;
    }
    .sm-heading {
      transition: 0.5s ease-in-out;
      padding: 1.2rem 1rem;
      font-size: 1rem;
    }
    .icons {
      margin-top: 0.85rem;
      transition: 0.5s ease-in-out;
      font-size: 1rem;
    }
  }
  div.menu-branding,
  ul.menu-nav {
    float: none;
    width: 100%;
    min-height: 0;
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu-nav {
    height: 60vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 20px;
  }
  .menu-branding {
    height: 40vh;
    transform: translate3d(100%, 0, 0);
  }
  .about-info {
    grid-template-areas:
      "bio-image"
      "bio"
      "bio"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
@include mediaXlg {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}
