@import "config";
@import "menu";
* {
  box-sizing: border-box;
}

body {
  @include background;
  height: 100%;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
  text-transform: capitalize;
  color: set-text-color($primaryColor);
  &.lg-heading {
    font-size: 3.5rem;
    color: set-text-color($primaryColor);
  }
  &.sm-heading {
    font-size: 1.3rem;
    padding: 1.3rem 1rem;
    background: rgba(lighten($primaryColor, 6), 0.5);
  }
}
a {
  color: set-text-color($primaryColor);
  text-decoration: none;
}
header {
  position: fixed;
  z-index: 3;
  width: 100%;
}
.text-secondary {
  color: $secondaryColor;
}
main {
  min-height: calc(100vh-60px);
  padding: 4rem;
  .icons {
    margin-top: 1.5rem;
    a {
      padding: 0.5rem;
      &:hover {
        color: $secondaryColor;
        @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
  }
  h1 {
    margin-top: 25vh;
  }
}
#about,
#myWork {
  background: lighten($primaryColor, 9);
}
.about-info {
  display: grid;
  grid-template-areas: "bio-image bio bio" "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 30px;
  .bio-image {
    display: block;
    width: 60%;
    margin: 0 auto;
    grid-area: bio-image;
    border-radius: 50%;
    border: 5px solid $secondaryColor;
  }
  .bio {
    grid-area: bio;
    font-size: 1.05rem;
    color: #000000c2;
    color: set-text-color($primaryColor);
  }
  .job1 {
    grid-area: job1;
  }
  .job2 {
    grid-area: job2;
  }
  .job3 {
    grid-area: job3;
  }
  .job {
    background: darken($primaryColor, 2);
    border-bottom: 5px solid $secondaryColor;
    padding: 1.5rem;
    box-shadow: 1px 1px 5px 1px #00000029;
    color: set-text-color($primaryColor);
  }
}
#main-footer {
  background: darken($primaryColor, 9);
  color: set-text-color($primaryColor);
  text-align: center;
  height: 60px;
  padding-top: 7px;
}
// My Work Styles
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.9rem;
  img {
    width: 100%;
    border: 3px solid white;
    @include easeOut;
    &:hover {
      border: 5px solid $secondaryColor;
      opacity: 0.7;
    }
  }
}
// Contact Me Styles
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  div {
    font-size: 2rem;
    border: 2px solid white;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;
    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondaryColor;
      color: set-text-color($secondaryColor);
      span {
        color: set-text-color($primaryColor);
      }
    }
  }
}
.btn {
  padding: 0.5rem 1rem;
  display: block;
  border: none;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondaryColor;
    color: set-text-color($primaryColor);
  }
}
.btn-dark {
  @extend .btn;
  background: darken($primaryColor, 50);
  color: #ffff;
}
.btn-light {
  @extend .btn;
  background: lighten($primaryColor, 50);
  color: black;
}

@import "mobile";
